<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Automation Suite">
    <test name="GetUserTests">
        <classes>
            <class name="tests.GetUserTest"/>
        </classes>
    </test>
    <test name="OpenWeatherTests">
        <classes>
            <class name="tests.WeatherAPIOverviewTest"/>
        </classes>
    </test>
</suite>
